@page "/"

@using Microsoft.EntityFrameworkCore
@using SimpleSignage.Data;
@inject IDbContextFactory<signageContext> DbFactory;

<h1>Manage images</h1>

<table class="table">

    <thead>
        <tr>
            <th></th>
            <th>
                Description
            </th>
            <th>
                Start on
            </th>
            <th>
                End on
            </th>
            <th>Devices</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var image in image_list)
        {
            @if (!image.MarkedForDelete)
            {
                <tr>
                    <td>
                        <img src="@image.Filename"  width="100px" />
                    </td>

                    <td>
                        @image.Description
                    </td>
                    <td>
                        @image.DateStart.Date
                    </td>
                    <td>
                        @if (image.Infinite)
                        {
                            <p>run forever</p>
                        }
                        else
                        {
                            @image.DateEnd.Date
                        }
                    </td>
                    <td>
                        @if (image.Devices != null && image.Devices.Count > 0)
                        {
                            foreach (var device in @image.Devices)
                            {
                                <p>@device.Name</p>
                            }
                        }
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => deleteImage(image)">Delete</button>
                    </td>
                </tr>
            }
        }
        <tr>
            <td>
                <button class="btn btn-primary" @onclick="AddImage">Add image</button>
			</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
		</tr>
    </tbody>
</table>

@if (AddImageDialogOpen)
{
    <AddImageDialog OnClose="@AddImageDialogClosing" /> 
}

@code 
{
    public List<Image> image_list { get; set; }

    private bool AddImageDialogOpen { get; set; }

    protected override void OnInitialized()
    {
        UpdateImageList();
    }

    private void UpdateImageList()
    {
        using var context = DbFactory.CreateDbContext();
        image_list = context.Images.Include(img => img.Devices).ToList();
    }


	private void deleteImage(Image img)
    {
        using var context = DbFactory.CreateDbContext();
        var ig = context.Images.Where(i => i.Id == img.Id).FirstOrDefault();
        ig.Devices.Clear();
        ig.MarkedForDelete = true;
        context.SaveChanges();
        UpdateImageList();
    }

    private void AddImage()
    {
        AddImageDialogOpen = true;
    }

    private void AddImageDialogClosing()
    {
        AddImageDialogOpen = false;
        UpdateImageList();
    }

}